---
---

@import "{{ site.theme }}";

.poster {
float: left;
clear: both;
margin-right: 10px;
margin-bottom: 50px;
}

.sidePoster {
  float: right;
  clear: both;
  margin-left: 10px;
  margin-bottom: 5px;
}

.post {
  clear: both;
  margin: 20px;
}

.pagination {
  display: flex;
  clear: both;
}

.sectionmore {
  margin-bottom: 10px;
  display: inline-block;
  clear: both;
  width: 100%;
  text-align: right;
  font-size: 13px
}

.previous {
  text-align: left;
}