---
---

@import "{{ site.theme }}";

.poster {
float: left;
clear: both;
margin-right: 10px;
margin-bottom: 50px;
}

.sidePoster {
  float: right;
  clear: both;
  margin-left: 10px;
  margin-bottom: 5px;
}

.post {
  clear: both;
  margin: 20px;
}