<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">


{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <div class="wrapper">
          {% include header.html %}
      <section>

      {{ content }}
      {% for post in site.posts limit:10 %}
      <div class='post'>
          {% if post.poster %}
          <img src={{post.poster}} alt='poster' width='200px' class='poster'>
      {% endif %}
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{post.plot}}</p>
          <p><small><strong>{% if post.film %} Film #{{post.film}}<br/>{% endif %}
          {% if post.rating %} Rating: {{post.rating}} out of 5<br/>{% endif %}
          {{ post.date | date: "%B %e, %Y" }}</strong></small></p>
      </div>
      {% endfor %}


      </section>

        {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
  {% include scripts.html %}
  {% endif %}
  </body>
</html>
