<!doctype html>

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        {% include header.html %}

        <section>

            {{ content }}

        </section>


        <div class="header-title">
            <div class="header-title-wrap">
                <h1>{{ site.title }}</h1>
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </div>

    <section>
        {{ content }}
    </section>

          {% include footer.html %}

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


          {% if site.google_analytics %}
          {% include scripts.html %}
          {% endif %}

</body>
</html>